{% extends 'main/base.html' %}
{% load static %}

{% block title %}
All Albums
{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{% static '/css/album.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="title"><br><br>
        <h1 class="title-main text-center" style="color:rgb(0, 0, 0);"><b>All Albums</b></h1>
        <br><br>
    </div>
    <div class="box-outer-albums">
        <div class="card-group">
            {% for album in all_albums %}
            <div class="card mb-5 mx-2   hover-shadow-2">
                <img class="card-img-top " src="/media/{{album.album_image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{album.album_name}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block jsLinks %}
{% endblock %}