{% extends 'main/base.html' %}
{% load static %}

{% block title %}
All Songs
{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{% static '/css/album.css' %}">
<link rel="stylesheet" href="{% static 'for-card-bsStudio/bootstrap.min.css' %}">

{% endblock %}

{% block body %}
<div class="container">

    <div class="title">
        <h1 class="title-main text-center mt-5" style="color:rgb(0, 0, 0);"><b>All Songs</b></h1>
    </div>
    <main class="page projets-page">
        <section class="portfolio-block projects compact-grid">

            <div class="row no-gutters">
                {% for song in songs %}

                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a href="/songsPlay/{{song.pk}}">
                        <img class="img-fluid image" src="/media/{{song.song_image}}">
                        <span class="description">
                            <span class="description-heading">{{song.name}}</span>
                            <span class="description-body">{{song.album}}</span>
                            <span class="description-body">{{song.artist}}</span>

                        </span>
                    </a>
                </div>
                {% empty %}
                <li class="list-group-item  list-group-item-dark">
                    Sorry :( ! There are no items related to your Search
                </li>
                {% endfor %}
            </div>

        </section>
    </main>

    <!-- 
    <div class="box-outer-albums">
        <div class="" style="margin-left: 3%;margin-right: 3%;">
            <ul class="list-group mb-5  marginlr">
                {% for song in songs %}
                <a href="/songsPlay/{{song.pk}}" style="text-decoration: none;">
                    <li class="list-group-item list-group-item-action list-group-item-dark">
                        <h3>{{song.name}}</h3>
                    </li>
                </a>
                {% empty %}
                <li class="list-group-item  list-group-item-dark">
                    Sorry :( ! There are no items related to your Search
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
 -->
</div>
{% endblock %}
{% block jsLinks %}
<link rel="stylesheet" href="{% static 'for-card-bsStudio/bootstrap.min.js' %}">
<link rel="stylesheet" href="{% static 'for-card-bsStudio/jquery.min.js' %}">

<link rel="stylesheet" href="{% static 'for-card-bsStudio/theme.js' %}">

{% endblock %}