{% extends 'main/base.html' %} {% load static %} {% block title %} Artist Name
{% endblock %} {% block cssLinks %}
<link rel="stylesheet" href="{% static '/css/artist_profile.css' %}" />
{% endblock %} {% block body %}


<!-- <div class="container">
  <div class="title">
    <br /><br />
    <h1 class="title-main text-center" style="color: rgb(0, 0, 0)">
      <b>All Artists</b>
    </h1>
    <br /><br />
  </div>
  <div class="box-outer-albums">
    <div class="card-group">
      {% for artist in artists %}
      <div class="card mb-5 mx-2 hover-shadow-2">
        <img class="card-img-top" src="/media/{{artist.artist_image}}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{artist.name}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div> -->
<div class="container">

  <div class="title">
    <center>

      <br>
      <br>
      <h1>
        {{artist.name}}
      </h1>
      <br>
    </center>
  </div>

  <div class="row">
    <div class="col-md-8 below-navbar">

      <div class="image-container">
        <img class="img-fluid" src="{% static '/img/placeholder.jpg' %}" alt="alternative" />
      </div>
    </div>
  </div>
  <br>
  <center>
    <h2>Some Albums of {{artist.name}} </h2>
  </center>
  <br>
  <!-- todo albums -->
  <div class="box-outer-albums">
    <div class="card-group">
      {% for album in all_albums %}
      <div class="card mb-5 mx-3   hover-shadow-2">
        <img class="card-img-top " src="/media/{{album.album_image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{album.album_name}}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %} {% block jsLinks %} {% endblock %}