{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Home page
{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}

{% block body %}
<!--todo grid for vector display starts here-->
<div class="below-navbar-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center vanish-mobile">
                <section id="right_below_navbar_svg">
                    <img src="{% static '/svg/below-navbar.svg' %}" alt="music icon" />
                </section>
            </div>
            <div class="col-md-6">
                <div class="box-for-names" id="hello-world">
                    <h1 class="title-main" style="color:white;"><b>Music For Life</b></h1>
                    <h4 class="mt-2" style="color:white;">The Best music for you.</h4>
                    <a href="https://drive.google.com/file/d/1s0fR01gzzSZWUYPv0AUNO_x1s8xRQ6Es/view?usp=sharing"
                        target="_blank">
                        <button class="mt-5" id="commonbuttons"><b>Listen Here</b></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--todo grid for vector display Ends here-->
<!--todo waves starts here-->
<div class="outer_box_for_waves">
    <section id="wavesbelownavbar">
        <img src="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605866350/Images%20for%20UNSCRIPT%20ROOKIE/logos/upperwave_dizfuw.svg"
            alt="bottom waves" />
    </section>
</div>
<!--todo waves ends here-->
<!--todo Trending songs starts here-->
<div class="container">
    <div class="title">
        <h1 class="title-main text-center my-2 mb-5" style="color:black;"><b>Trending Songs</b></h1>
    </div>
    <div class="toptrend">
        <div class="row">
            {% for song in top_three_songs %}
            <div class="col-md-4">
                <div class="card hover-shadow">
                    <img src="{% %}" width="100%" alt="placeholder image for album">
                    <div class="card-body">
                        <h6 class="m-2 text-center">{{song.name}}</h6>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>

<!--todo Trending songs Ends here-->




<h1>Banner song: {{song_banner.name}}</h1>
<br>
Trending Songs
<br>
{% for song in all_songs %}
<a href="/songsPlay/{{song.pk}}">{{song.name}}</a>
{% endfor %}
{% endblock %}

{% block jsLinks %}
{% endblock %}