{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Home page
{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="stylesheet" href="{% static 'for-card-bsStudio/bootstrap.min.css' %}">

{% endblock %}

{% block body %}
<!--todo grid for vector display starts here-->
<div class="below-navbar-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center vanish-mobile">
                <section id="right_below_navbar_svg">
                    <img src="{% static '/svg/below-navbar.svg' %}" alt="music icon" />
                </section>
            </div>
            <div class="col-md-6">
                <div class="box-for-names" id="hello-world">
                    <h1 class="title-main" style="color:white;"><b>Music For Life</b></h1>
                    <h4 class="mt-2" style="color:white;">The Best music for you.</h4>
                    <a href="https://drive.google.com/file/d/1s0fR01gzzSZWUYPv0AUNO_x1s8xRQ6Es/view?usp=sharing"
                        target="_blank">
                        <button class=" flex-row-reverse mt-3 px-5 text-center" id="commonbuttons"><b>Listen
                                Here</b></button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--todo grid for vector display Ends here-->
<!--todo waves starts here-->
<div class="outer_box_for_waves">
    <section id="wavesbelownavbar">
        <img id="waveanimate"
            src="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605866350/Images%20for%20UNSCRIPT%20ROOKIE/logos/upperwave_dizfuw.svg"
            alt="bottom waves" />
    </section>
</div>
<!--todo waves ends here-->
<!--todo Trending songs starts here-->
<div class="container mb-5">
    <div class="title">
        <h1 class="title-main text-center mb-5" style="color:black;"><b>Trending Songs</b></h1>
    </div>
    <div class="toptrend">
        <div class="row">
            {% for song in top_three_songs %}
            <div class="col-md-4">
                <a href="/songsPlay/{{song.pk}}" style="text-decoration: none; color: black;">
                    <div class="card hover-shadow">
                        <img src="/media/{{song.song_image}}" width="100%" alt="placeholder image for album">
                        <div class="card-body">
                            <h5 class="m-2 text-center remove-underline">{{song.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
<!--todo Trending songs Ends here-->

<!--todo Artists starts here-->
<div class="background-black" style="background-color: black;">
    <div class="container">
        <div class="title"><br><br>
            <h1 class="title-main text-center" style="color:white;"><b>Our Artists</b></h1>
            <br><br>
        </div>
        <div class="row">
            {% for artist in front_page_artists %}
            <a href="/artistPage/{{artist.pk}}" class="col" style="text-decoration: none;">
                <div class="col-md my-3 text-center item zoom-on-hover">
                    <div class="top text-center">
                        <img src="/media/{{artist.artist_image}}" class="artist-image" alt=" artists">
                    </div>
                    <div class="bottom mb-3">
                        <h5 class="text-center my-4" style="color:white;"><b>{{artist.name}}</b></h5>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<!--todo Artists ends here-->
<!--todo Our Team Starts Here-->
<div class="background-black" style="background-color: white;">
    <div class="container">
        <div class="title"><br><br>
            <h1 class="title-main text-center" style="color:black;"><b>Team Alpha</b></h1>
            <br><br>
        </div>
        <div class="row">

            <div class="col-md-4 my-3 text-center">
                <div class="top-image">
                    <img width="200px" class="hover-effect-zoom" style="border-radius: 50%;"
                        src="https://avatars.githubusercontent.com/u/61423235?s=460&u=7ef56fda424474b260d3f88a0a07ae6da385953b&v=4"
                        alt="Aakash">
                </div>
                <div class="bottom mb-3">
                    <h5 class="text-center my-4" style="color:black;"><b>Aakash Yadav</b></h5>
                </div>
            </div>

            <div class="col-md-4 my-3 text-center">
                <div class="top-image">
                    <img width="200px" class="hover-effect-zoom" style="border-radius: 50%;"
                        src="https://media-exp1.licdn.com/dms/image/C5603AQGZ-SRnhC5heg/profile-displayphoto-shrink_400_400/0/1604673212669?e=1618444800&v=beta&t=Kxoaj58bfVww2nC70dZpSXQdA2EwC96XB5LtLQWzQe4"
                        alt="Shreya">
                </div>
                <div class="bottom mb-3">
                    <h5 class="text-center my-4" style="color:black;"><b>Shreya Sapale</b></h5>
                </div>
            </div>

            <div class="col-md-4 my-3 text-center">
                <div class="top-image">
                    <img width="200px" class="hover-effect-zoom" style="border-radius: 50%;"
                        src="{% static '/img/snehal.jpeg' %}" alt="Snehal">
                </div>
                <div class="bottom mb-3">
                    <h5 class="text-center my-4" style="color:black;"><b>Snehal Tagalpallewar</b></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!--todo Our team Ends Here-->
<!--todo waves starts here-->
<div class="outer_box_for_waves">
    <section id="wavesbelownavbar">
        <img src="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605866339/Images%20for%20UNSCRIPT%20ROOKIE/logos/abovefootersvg_sironc.svg"
            alt="waves below">
    </section>
</div>
<!--todo waves ends here-->
{% endblock %}

{% block jsLinks %}
{% endblock %}