{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{song.name}} | Song Page
{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{% static '/css/album.css' %}">
<link rel="stylesheet" href="{% static '/css/playsong.css' %}">

{% endblock %}

{% block body %}
<div class="container">
    <div class="title">
        <h1 class="title-main text-center my-5" style="color:rgb(0, 0, 0);"><b>{{song.name}}</b></h1>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <img src="/media/{{song.song_image}}" width="100%" height="500px" alt="{{song.name}}">
        </div>
        <div class="col-3"></div>
    </div>
    <div class="box-outer-playsongs text-center my-5 ">
        <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="/media/{{song.song}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endblock %}

{% block jsLinks %}
{% endblock %}