/**================================================================
*?? Navbar Starts Here
**==================================================================*/
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  text-align: right;
  color: #fff;
  font-size: large;
  font-weight: 600;
}
.navbar-nav li a:hover {
  text-align: right;
  color: rgb(189, 189, 189);
  font-size: large;
  font-weight: 600;
}
.navbar {
  background: -webkit-linear-gradient(right, #000000, #383838);
}
#leftlogo img {
  width: 63.48px;
  height: 63.48px;
}
@media only screen and (max-width: 600px) {
  #leftlogo img {
    width: 52.9px;
    height: 52.9px;
  }
}
.navbar-toggler {
  background-color: #000000 !important;
  border-color: white !important;
}
#navbar-toggler-icon {
  color: rgb(255, 255, 255);
  border-color: white !important;
}
.col-sm-2 svg {
  align-items: center;
}
/**-THE UNDERLINE EFFECT OF LINK of particular page-*/
a.left {
  position: relative;
}
a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}
/* **for the link with highlight for he particular page*/
a.highlight {
  color: white !important;
}

/**================================================================
* Navbar Ends Here
**==================================================================*/
