#commonbuttons {
  padding: 2%;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(right, hsl(302, 97%, 46%), #6156f9e3);
  width: 200px;
  transition: all 0.3s ease-in;
  border: none;
}
#commonbuttons:hover {
  padding: 2%;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(left, #1a129f, #6156f9e3);
  width: 200px;
  border-block-style: none;
  border: none;
}
.commonbuttons {
  padding: 2%;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(right, #e704df, #6156f9e3);
  width: 200px;
  transition: all 0.3s ease-in;
  border: none;
}
.commonbuttons:hover {
  padding: 2%;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  background: -webkit-linear-gradient(left, #1a129f, #6156f9e3);
  width: 200px;
  border-block-style: none;
  border: none;
}
